/* ! Main Properties */
/* TODO fix margins of titls of the sections  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Miriam Libre';

}

:root {
    --black: rgb(2,2,2);
    --red: #b12a24;
    --grey: #6f6f6f;
    --white: whitesmoke;


}


html,
body {
    height: 100%;
    background-color: var(--black);
    overflow-x: hidden;
     text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
     margin: 0 auto;
    scroll-behavior: smooth;
    color: var(--black) !important;
}

.section {
    position: relative;
}

.container {
    text-align: center;
    margin: 0 2%;
    position: relative;
    width: 100%;

}


.section {
    /* height: 950px; */
}

 .text-box .text-box-line {
    border-top: 2px solid var(--grey);
}
/* // Header   */
header {
    position: relative;

}



header .container .header__flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    top:20px ;

    align-items: center;
}

/* .header__flex-illustra {
    order: 1;
    width: 60%;
} */
// not sure if im gonna use it
/* .header__flex-illustra img {
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    position: relative;
    top: 0;
    left: 0;
} */





.header__flex-topinfo {
    color: whitesmoke;
    width: 50%;

}

.header__flex-topinfo h1 {
    color: whitesmoke;
}

.header__flex-topinfo p {
    color: whitesmoke;

}

.header__flex-social {
    width: 50%;
    margin-top: 20px;
    color: whitesmoke;

}

.header__flex-social p {
    text-align: center;

}


.header__flex-social p {
    display: inline-block;
}

.header__flex-social p a {
    color: var(--red);
    padding: 10px;
    font-size: 30px;
}

header .header__flex .header__menu-grid ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    margin-bottom: 100px;
}
nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: lowercase;
    font-size: 17px;
}
nav ul li:hover {
    color: var(--red);
    scale: 1.2;
    transform: rotate(-6deg);
}

nav ul li a:hover {
                    color: var(--red);
                }
nav ul li:hover:last-child {
    scale: 1.2;
    transform: rotate(3deg);
}
.arrow-upp {
    color: var(--red);
    text-align: left;
    position: relative;

}
.arrow-upp i {
    font-size: 40px;
    position: absolute;
    left: 1380px;
    bottom: 50px;

}
#myBtn {
  display: block;
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color:var(--red); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 12px; /* Rounded corners */
  font-size: 18px; /* Increase font size */;

}

#myBtn:hover {
  background-color: var(--grey); /* Add a dark-grey background on hover */ }

  /* TODO btn nnot working bc js refreshes the page */
  .changeColor {
      display: none;
      color: whitesmoke;
    background-color: var(--red);
    border: 0;
    outline: 0;
    width: 100px;height: 30px;
    border-radius: 10px;
    font-size: 15px;
    }

/* // greetings  */


#header  .container .greetings__box {
    position: relative;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-42%);
    display: block;
    width: 600px;
    min-height: 300px;
}




/* .greetings__box-overlay h1,
.greetings__box-overlay p {
    color: #f5f5f5;
    margin-top: 20px;
    display: inline-block;
    position: relative;

} */


.greetings__box-wraper {
    color:whitesmoke;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.greetings__box-wraper h1 {
    display: block;
    margin-left: 0;

}

#header header .container {
    position: relative;
    height: 950px;
}


break1 {
    display: none;
}



/* // Services  */


section.service .container {
    position: relative;
    top: 0px;
    color: #f5f5f5;

    margin-bottom: 150px;

}

.service .container .text-box {
    color: whitesmoke;
    text-align: left;
    margin-top: 25px;
}

.service__companies {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    align-items: center;
    margin: 0 2%;

}

.service__companies-box {
    display: relative;
    padding: 15px;
    width: 50%;
    margin-top: 25px;
}

.service__companies-box:nth-of-type(2) {
    order: 2;
}

.service__companies-box-logo {
    position: relative;
    width: 200px;
    height: 200px;
    left: 50%;
    transform: translate(-50%);
    margin: 10px;

}

.service__companies-box-logo img {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



}

.service__companies h3 {
    margin-bottom: 10px;
}

.service__companies p {
    margin-bottom: 10px;
    text-align: justify;
}

.service__illustra img {
    position: relative;
    right: -600px;
    top: -150px;
    transform: rotate(180deg);

}

/* // Content  */



.content .container {
    margin: 0 2%;
    position: relative;

}



.content__flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2%;
    margin-top: 50px;


}

.content__flex-space {

    padding: 30px;
    width: 25%;
    text-align: left;

}

.content__flex-space:hover {
    transform: scale(1.1);
}

.content__flex-space-box {
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(224, 224, 224, 0.5);
    height: 100%;

}

.content__flex-space-box-img {
    min-height: 200px;


}

.content__flex-space-box .content__flex-space-box-wraper h2 {
    color: #f5f5f5;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    margin: 15px;
}

.content__flex-space-box .content__flex-space-box-wraper p {
    color: #f5f5f5;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    margin: 15px;
}


.content__flex-space-box-img img {
    width: 100%;

}



.content .container .text-box {
    color: whitesmoke;

    text-align: left;

}





.content__flex-space-box button {
    height: 40px;
    width: 100px;
    text-align: center;
    background-color: transparent;
    margin: 20px;
    background-color: var(--red);
    outline: 0;
    border: .15em solid rgba(224, 224, 224, 0.5);
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    -webkit-transition-duration: .5s;

}


.content__flex-space-box button a {
    color: whitesmoke;
    font-size: 13px;
    text-decoration: none;

}




/* // Web dev */

.webdev {
    width: 100%;
    min-height: 800px;
    position: relative;

    background-color: var(--grey);

}

.webdev .container {

    margin: 0 2%;
    min-height: 700px;
    color: white;

}


.webdev .container .text-box {
    text-align: left;
    margin-top: 250px;

}

.webdev .container .text-box h2 {
    padding-top: 15px;
}

.webdev__flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 2%;
    margin:50px;


}


.webdev__flex-space {
    padding: 30px;
    width: 33.33%;
    text-align: left;


}

/* ! grid tests */
/*
.webdev__grid {
 margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 20px;
}
.card__img {
    width: 100%;
    display: block;

} */



.webdev__flex-space:hover {
    transform: scale(1.1);
}

.webdev__flex-space-box {

    border-radius: 3px;
    border: 2px solid rgba(224, 224, 224, .5);
    box-shadow: 0 1px 1px 0 rgba(224, 224, 224, 0.5);


}



.webdev__flex-space-box img {
    width: 100%;
    height: 100%;
    display: block;
}

.webdev__flex-space-box .webdev__flex-space-box-wraper h2 {
    color: #f5f5f5;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    margin: 15px;
    width: 100%;
}

.webdev__flex-space-box .webdev__flex-space-box-wraper p {
    color: #f5f5f5;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    margin: 15px;
    width: 100%;
}


.webdev__flex-space-box .webdev__flex-space-box-wraper button {
    height: 40px;
    width: 140px;
    text-align: center;
    background-color: transparent;
    margin: 20px;
    background-color: var(--red);
    outline: 0;
    border: .15em solid rgba(224, 224, 224, 0.5);
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    -webkit-transition-duration: .5s;

}

.webdev__flex-space-box button a {
    color: whitesmoke;
    font-size: 13px;
    text-decoration: none;
}

section.s5 .container .text-box .text-box-line {
    border-top: 2px solid whitesmoke;

}


/* // Last sectiion  */


section.s6 {
    position: relative;;
    height: 950px;
}

section.s6 >.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}






/* // SVG illustra  */

.illustra2 .container {
    width: 100%;
    margin: 0 2%;
    position: relative;



}

.illustra2 .container .svg2 {
    position: relative;
    top: 220px;
    left: 0;

}

.illustra2__flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.illustra2__flex-1 {
    order: 1;
    width: 20%;
    color: #f5f5f5;

}


.illustra2__flex-1 h1,
.illustra2__flex-1 p {
    color: #f5f5f5;
    text-align: justify;
}

.illustra2__flex-1 h1,
.illustra2__flex-1 p {
    padding: 10px;
    margin-left: 50px;
}

.illustra2__flex-2 {
    order: 2;
    width: 80%;
}

/* // Mobile Sections */

/* #section__mobile { display: none;} */

/* !  Animations  */

.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 3px solid var(--red);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .30em;
    /* Adjust as needed */
    animation:
        typing 3s steps(45, end),
        blink-caret .75s step-end infinite;
    display: inline-block;

}

.fadeInAnimation {
    animation: fadeInAnimation ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}


.flashAnimation {
    animation-name: flashAnimation;
    animation-duration: 3s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#leaf2,
#leaf1 {
    animation: parachute 4s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#man {
    animation: animationMan 4s infinite;
    transform-origin: center;
    transform-box: fill-box;
}

#websitegroup {
    animation: passing 4s infinite;
    transform-origin: center;
    transform-box: fill-box;

}










/* ! Keyframes */

@keyframes passing {
    from {
        transform: translate(-150%, 0);
    }

    to {
        transform: translate(150%, 1);
    }
}

/*
@keyframes animationWebsite {
    0% {
        opacity: 0;
        transform: translate(0, -150px) rotate(20deg);
    }

    15% {
        opacity: 1;
        transform: translate(0, 100px) rotate(-15deg);
    }

    25% {
        transform: translate(0, 250px) rotate(10deg);
    }

    30% {
        transform: translate(0, 350px) rotate(-5deg);
    }

    35% {
        opacity: 1;
        transform: translate(0, 570px) rotate(0deg);
    }

    45%,
    100% {
        opacity: 0;
        transform: translate(0, 570px);
    }
    } */

@keyframes parachute {


    0% {
        transform: translate(0, -100px) rotate(-20deg) scale(1);
        opacity: 1;
    }

    25% {
        transform: translate(0, -75px) rotate(-15deg);
    }

    50% {
        transform: translate(0, -50px) rotate(-10deg);
    }

    75% {
        transform: translate(0, -25px) rotate(0deg) scale(0.9);
        opacity: 1;
    }

    100% {
        transform: translate(0, 0) rotate(180deg);
        opacity: 1;
    }
}

@keyframes leaf {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }

}

@keyframes animationMan {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotateX(10deg);
    }
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--red);
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

@keyframes flashAnimation {
    50% {
        border-color: var(--red);
    }
}

/* ! Queries  */

@media screen and (max-width:768px) {
    #header header .container .greetings__box {
        width: 80%
    }



    .content__flex {
        flex-direction: column;
    }
        .content__flex-space {
            width: 100%;
        }

        .webdev__flex {
            flex-direction: column;
        }

        .webdev__flex-space {
            width: 100%
        }

    }


    @media screen and (max-width: 700px) {
        .illustra2 {
            display: none;
        }
        .s5 {
            top: 60px;
        }
        .service__companies {
            flex-direction: column;

        }
        .service__companies .service__companies-box {
            width: 100%;
        }
    }

    @media screen and (max-width: 480px ) {
        nav {
            display: none;
        }
        .typewriter {
            animation: none;
        }
        .greetings__box-wraper  {
            display: block;
            word-break: break-all;
        }
        break1 {
            display: block;
            margin-top: 0;
              height: 0;
        }


    }